.cover__subtitle {
  margin: 32px auto 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 360px;
  z-index: 1;
}

@media only screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
