.wrapper__intro {
  margin: 92px auto 0;
  max-width: 984px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .wrapper__intro {
    max-width: 928px;
  }
}

@media only screen and (max-width: 425px) {
  .wrapper__intro {
    margin: 64px auto 0;
  }
}
