.intro {
  padding: 0;
  box-sizing: border-box;
  max-width: 690px;
  width: 100%;
}

@media only screen and (max-width: 970px) {
  .intro {
    padding-left: 24px;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media only screen and (max-width: 425px) {
  .intro {
    padding: 0 16px;
  }
}
