.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

@media only screen and (max-width: 970px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media only screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}
