.lead__figure {
  margin: 64px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1024px) {
  .lead__figure {
    margin: 56px 0 0 0;
  }
}
@media only screen and (max-width: 425px) {
  .lead__figure {
    margin: 40px 0 0 0;
  }
}
