.place {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (max-width: 660px) {
  .place {
    gap: 32px;
  }
}
