.page__footer {
  margin: 92px auto 24px;
}

@media only screen and (max-width: 768px) {
  .page__footer {
    margin: 88px auto 24px;
  }
}

@media only screen and (max-width: 425px) {
  .page__footer {
    margin: 64px auto 24px;
  }
}
