.intro__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  color: #fff;
}

@media only screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
